`May 31, 2022`

# Function Exercise

**1.**

Buatlah function yang dapat menghitung total tarif taksi yang harus dibayarkan penumpang:
  - Tarif taksi per kilometer adalah 5000
  - Awal buka pintu sudah dikenakan tarif 8000
  - Berapa tarif taksi untuk perjalanan sejauh 1, 2, 3, 4, dan 5 kilometer?

In [ ]:
# Insert your code here

# Wilbert 
initial_fee = 8000
per_km = 5000
for i in range(1, 6):
  print(f"cost at {i}km: ", initial_fee + (i * per_km))

cost at 1km:  13000
cost at 2km:  18000
cost at 3km:  23000
cost at 4km:  28000
cost at 5km:  33000

In [ ]:
# Regular function

list_jarak = [1, 2, 3, 4, 5]

def tarif_taksi(kilometer):
  total = []
  for i in list_jarak:
    jarak = (i * 5000) + 8000
    total.append(jarak)

  return total

print(tarif_taksi(list_jarak))

[13000, 18000, 23000, 28000, 33000]

In [ ]:
jarak_km = float(input('Masukkan jarak (km): '))

def tarif_taksi(kilometer):
  tarif = (kilometer * 5000) + 8000
  return tarif

print(tarif_taksi(jarak_km))

Masukkan jarak (km): 15.6
86000.0

In [ ]:
# Menggunakan list comprehension

list_jarak = [1, 2, 3, 4, 5]

tarif = [(x * 5000) + 8000 for x in list_jarak]
print(tarif)

[13000, 18000, 23000, 28000, 33000]

**2.**

Buatlah function dengan parameter yang akan diisi dengan argumen berupa sebuah kalimat. 

Contoh:
- Argumen: 
        teh cukup murah
- Output: 
        teh pukuc harum

Constraints: 
- Hanya kata yang memiliki panjang lebih dari 3 huruf yang dibalik.
- Input hanya berupa huruf dan spasi, tanpa tanda baca.

In [ ]:
# Insert your code here

def reverse_sentence(kalimat):
  list_kalimat = kalimat.split()

  for i in list_kalimat:
    if len(i) > 3:
      print(i[::-1], end=' ')
    else:
      print(i, end=' ')

reverse_sentence('ini adalah materi tentang function')

ini halada iretam gnatnet noitcnuf

**3.**

Buatlah function untuk memutar list di dalam list yang berukuran 3x3 satu kali searah jarum jam.

Misal:

- Input
      [[1,2,3],   
      [4,5,6],
      [7,8,9]]

- Output
      [[7,4,1],   
      [8,5,2],    
      [9,6,3]]

In [ ]:
# Insert your code here

list_angka = [[1,2,3], [4,5,6], [7,8,9]]

def rotasi(x):
  list_hasil = []
  i = len(x) - 1 # 3 - 1 = 2

  while i >= 0: # 2 1 0
    for j in range(0, len(x)):  # 0 1 2
      if (len(list_hasil) < (j + 1)):
        list_hasil.append([x[i][j]])
      else:
        list_hasil[j].append(x[i][j]) 
    
    i -= 1
  return list_hasil

print(rotasi(list_angka))

# list_angka_hasil = [[7, 4, 1], [8, 5, 2], [9, 6, 3]]

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

In [ ]:
import numpy as np
x = [[1,2,3], 
     [4,5,6], 
     [7,8,9]]


list_hasil = []
i = len(x) - 1 # 3 - 1 = 2

while i >= 0: # 2 1 0
    for j in range(0, len(x)):  # 0 1 2
      if (len(list_hasil) < (j + 1)): # 0 < 1, 3 < 1
        list_hasil.append([x[i][j]])
    
      else: # mulai masuk else saat i iterasi kedua
        list_hasil[j].append(x[i][j]) # j = 0 --> list_hasil[0] append x[1][0]
                                      # j = 1 --> list_hasil[1] append x[1][1]
    
    i -= 1
        
# print(list_hasil)
# print(np.stack(list_hasil))
# print(np.array(list_hasil))

**4.**

Jika parameter sebuah fungsi adalah integer n, return True jika n ada pada range +-10 dari 100 atau 200. Selebihnya berarti akan menghasilkan return value False.

Contoh output:

      plus_minus(90) --> True
      plus_minus(150) --> False
      plus_minus(104) --> True

In [ ]:
# Insert your code here

def plus_minus(angka):
  return (abs(100 - angka) <= 10) or (abs(200 - angka) <= 10)

print(plus_minus(90))
print(plus_minus(150))
print(plus_minus(104))

True
False
True

**5.**

Buatlah function yang dapat mengecek sebuah angka apakah angka tersebut berada dalam range angka yang diberikan atau tidak.

Contoh:

- Input:
      dalam_range(21, 10, 100)

- Output: 
      True

**NB:**

Parameter pertama adalah angka yang ingin dicari apakah dalam range atau tidak.

In [ ]:
# Insert your code here

def dalam_range(angka, bawah, atas):
  if angka in range(bawah, atas):
    print(f'{angka} ada dalam range antara {bawah} dan {atas}.')
  else:
    print(f'{angka} berada di luar range antara {bawah} dan {atas}.')

dalam_range(401, 200, 1000)

401 ada dalam range antara 200 dan 1000.

# Fruits Market App

Lanjutkan aplikasi market dengan menggunakan function berdasarkan fungsi tiap menu agar kode menjadi lebih mudah di-maintain.

In [ ]:
# Insert your code here