`June 10, 2022`

# Regular Expression Exercise

**Import library**

In [1]:
import re

**1. Buatlah function untuk mengecek apakah sebuah string hanya mengandung alphanumeric atau bukan!**

In [ ]:
'ABCDEFabcdef123450'
'*&%@#!}{'

True
False

In [ ]:
# Insert your code here
def alphanumeric(string):
  string = re.search(r'[a-zA-Z0-9]', string) # alternatif lain menggunakan \w
  return bool(string)

In [ ]:
print(alphanumeric('ABCDEFabcdef123450'))
print(alphanumeric('*&%@#!}{'))

True
False

**2. Buatlah function yang dapat mencocokkan apakah sebuah string mengandung huruf 'a' dan diikuti oleh huruf 'b' sebanyak 0 atau lebih repetisi!**

In [ ]:
'ac'
'abc'
'abbc'

True
True
True

In [ ]:
# Insert your code here
def text_match(string):
  pattern = 'ab+'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(text_match('ac'))
print(text_match('abc'))
print(text_match('abbc'))
print(text_match('saya belajar regex'))

False
True
True
False

**3. Buatlah function yang dapat mencocokkan apakah string memiliki huruf 'm' dan diikuti oleh 3 huruf 'n'!**

In [ ]:
'mnnn'
'mmnno'

True
False

In [ ]:
# Insert your code here
def m_followed(string):
  pattern = 'mn{3}'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(m_followed('mnnn'))
print(m_followed('mmnno'))

True
False

**4. Buatlah function yang dapat mencocokkan apakah string memiliki huruf 'r' dan diikuti oleh 2 hingga 3 huruf 's'!**

In [ ]:
'rs'
'rrssssst'

False
True

In [ ]:
# Insert your code here
def r_followed(string):
  pattern = 'rs{2,3}?'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(r_followed('segars'))
print(r_followed('segarss'))
print(r_followed('segarssss'))

False
True
True

**5. Buatlah function untuk dapat mencocokkan rangkaian kata dengan huruf kecil yang disambungkan dengan underscore!**

In [ ]:
'aab_cbbbc'
'aab_Abbbc'
'Aaab_abbbc'

True
False
False

In [ ]:
# Insert your code here
def lowercase_underscore(string):
  pattern = '^[a-z]+_[a-z]+$'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(lowercase_underscore('aab_cbbbc'))
print(lowercase_underscore('aab_Abbbc'))
print(lowercase_underscore('Aaab_abbbc'))

True
False
False

**6. Buatlah function yang dapat mencocokkan sebuah string memiliki huruf 'a' diikuti oleh karakter apapun dan karakter terakhirnya adalah huruf 'b'!**

In [ ]:
'aabbbbd'
'aabAbbbc'
'accddbbjjjb'

False
False
True

In [ ]:
# Insert your code here
def a_b(string):
  pattern = 'a.+b$'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(a_b('aabbbbd'))
print(a_b('aabAbbbc'))
print(a_b('accddbbjjjb'))
print(a_b('ab')) # False karena setelah a tidak diikuti oleh karakter lain. 
                 # Minimal harus ada 1 repetisi.

False
False
True
False

**7. Buatlah function yang dapat mencocokkan bahwa sebuah string dimulai dengan sebuah kata!**

In [ ]:
'Kemarin paman datang membawa banyak bingkisan.'
' Kemarin paman datang membawa banyak bingkisan.'

True
False

In [ ]:
# Insert your code here
def beginning(string):
  pattern = '^\w+'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(beginning('Kemarin paman datang membawa banyak bingkisan.'))
print(beginning(' Kemarin paman datang membawa banyak bingkisan.'))

True
False

**8. Buatlah function yang dapat mencocokkan bahwa suatu string mengandung huruf 'x'!**

In [ ]:
'Latihan regex.'
'Latihan Python.'

True
False

In [ ]:
# Insert your code here
def find_x(string):
  pattern ='\w*x|X.*'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(find_x('Latihan regex'))
print(find_x('Latihan Python'))

True
False

**9. Buatlah function yang dapat mencocokkan bahwa sebuah string dimulai dengan angka 3!**

In [ ]:
'5-9080704'
'3-9080704'

False
True

In [ ]:
# Insert your code here
def match_number(string):
  pattern = '^3'
  if re.search(pattern, string):
    return True
  else:
    return False

In [ ]:
print(match_number('5-9080704'))
print(match_number('3-9080704'))

False
True

**10. Buatlah function yang dapat menghapus angka 0 pada IP address berikut!**

In [ ]:
ip = '123.01.000000044000000.136'

In [ ]:
# Hanya menghapus angka 0 setelah titik.
# Insert your code here
def remove_zero(string): 
  pattern = re.sub('\.[0]*', '.', string)
  return pattern

In [ ]:
remove_zero(ip)

'123.1.44000000.136'

In [ ]:
# Menghapus semua angka 0 yang ada pada target string.
def remove_all_zero(string): 
  pattern = re.sub(r'[0]', '', string)
  return pattern

In [ ]:
remove_all_zero(ip)

'123.1.44.136'

**11. Buatlah function untuk mencari sebuah kata spesifik dalam sebuah string. Selain itu, tampilkan juga lokasi (index) di mana pattern tersebut ditemukan!**

- Teks: 'Semua anak kucing itu berbulu putih hitam.'
- Kata yang dicari: 'kucing'

Kata 'kucing' ditemukan pada 'Semua anak kucing itu berbulu putih hitam.', pada index 11 hingga 16

In [ ]:
# Insert your code here
pattern = 'kucing'
teks = 'Semua anak kucing itu berbulu putih hitam.'

def find_word(pattern, teks):
  match = re.search(pattern, teks)
  index_awal = match.start()
  index_akhir = match.end() - 1
  
  return print(f'''Kata '{match.re.pattern}' 
  ditemukan pada '{match.string}', pada 
  index {index_awal} hingga {index_akhir}''')

In [ ]:
find_word(pattern, teks)

Kata 'kucing' ditemukan pada 'Semua anak kucing itu berbulu putih hitam.', pada index 11 hingga 16

**12. Buatlah function untuk mengonversi format date dari yyyy-mm-dd ke format dd-mm-yyyy!**

Format awal YYYY-MM-DD: 2022-6-13
Format baru DD-MM-YYYY: 13-6-2022

In [ ]:
# Insert your code here
def change_format(dt):
  # Memanfaatkan group reference 
  # (angka posisi dari suatu grup)
  return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', 
                  '\\3-\\2-\\1', dt)

In [ ]:
date_today = '2022-6-13'
print('Format awal YYYY-MM-DD:', 
    date_today)
print('Format baru DD-MM-YYYY:', 
    change_format(date_today))

Format awal YYYY-MM-DD: 2022-6-13
Format baru DD-MM-YYYY: 13-6-2022

**13. Buatlah function yang dapat mengambil angka saja dari string berikut!**

string = 'Sepuluh 10, Lima puluh 50, Seratus 100'

10
50
100

In [ ]:
# Insert your code here
def take_numbers(string):
  result = re.split('\D+', string)
  for element in result:
    print(element)

In [ ]:
take_numbers('Sepuluh 10, Lima puluh 50, Seratus 100')

10
50
100

In [20]:
def take_numbers_list(string):
  result = re.split('\D+', string)
  output = []
  for element in result:
    if element == '':
      continue
    else:
      output.append(element)
  # print(*output, sep='\n')
  print('\n'.join(output))

In [21]:
take_numbers_list('Sepuluh 10, Lima puluh 50, Seratus 100')

10
50
100