# Variable

In [ ]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World

In [ ]:
message = 'Hello World'
Message = 'Hello Friends'
print(message)
print(Message)
print(message)

Hello World
Hello Friends
Hello World

In [ ]:
# Style cases penamaan variabel pada Python
myMessage = 'Hello World' # camel case
my_message = 'Hello Friends' # snake case

print(message)
print(Message)

Hello World
Hello Friends

In [ ]:
# Contoh penamaan variable yang salah.
# Error ditandai dengan garis merah.
# Pada error message yang muncul, bisa 
    # dilihat error terjadi pada line berapa.
# Shortcut untuk comment --> ctrl + /
my_message = 'Hello Friends' # Variable message berisi 
                                #sebuah pesan.
print(my_message)

Hello Friends

In [ ]:
!python TM1.py

Hello Friends

# Data Types

In [ ]:
# String
name = 'James'
print(type(name))

<class 'str'>

In [ ]:
# Integer
age = 25
print(type(age))

<class 'int'>

In [ ]:
print(type(25))

<class 'int'>

In [ ]:
# Float
age = 25.0
print(type(age))

<class 'float'>

In [ ]:
# Boolean
graduated = True # or False 
print(type(graduated))

<class 'bool'>

In [ ]:
# None
status = None
print(type(status))

<class 'NoneType'>

In [ ]:
# Error karena kesalahan syntax 
    # ketika mendefinisikan nilai Boolean
x = false
print(type(x))

NameError: ignored

## Collection Data Types

In [ ]:
# List
# Diapit dengan []
name = ['Aaron', 'Bradley', 'Catherine']
print(type(name))
print(name)

<class 'list'>
['Aaron', 'Bradley', 'Catherine']

In [ ]:
# Tuple
# Diapit dengan ()
name = ('Aaron', 'Bradley', 'Catherine')
print(type(name))
print(name)

<class 'tuple'>
('Aaron', 'Bradley', 'Catherine')

In [ ]:
# Dictionary
# Terdapat pasangan key & value.
profile = {'name': 'Aaron', 'age': 20, 'married': False}
print(type(profile))
print(profile)

<class 'dict'>
{'name': 'Aaron', 'age': 20, 'married': False}

In [ ]:
# Set
# Diapit dengan {}
# Tidak menerima duplicate value.
# Output-nya unordered.
name = {'Aaron', 'Bradley', 'Catherine', 'Aaron'}
print(type(name))
print(name)

<class 'set'>
{'Bradley', 'Aaron', 'Catherine'}

In [ ]:
# Buatlah sebuah dictionary yang key & value-nya 
    # mendefinisikan 3 kata dalam Bahasa Inggris 
    # dan Bahasa Indonesia.
quiz = {'rumah':'house', 'mobil':'car', 'layar':'display'}
print(type(quiz))

<class 'dict'>

# Numbers, Arithmetic, Assignment Operators & Math Module

In [ ]:
x = 5 + 3
print(x)

8

In [ ]:
x *= 2
print(x)

16

In [ ]:
# Tipe data hasil pembagian pada Python akan berupa Float
x = 6 / 2
print(x)
print(type(x))

3.0
<class 'float'>

In [ ]:
# Hasil floor division akan berupa class integer
x = 5 // 2
print(x)
print(type(x))

2
<class 'int'>

In [ ]:
# Modulus (sisa pembagian)
# Hasil dari modulus akan berupa class integer
x = 7 % 4
print(x)
print(type(x))

3
<class 'int'>

In [ ]:
x = 4 % 2 # 0
y = 3 % 2 # 1

print(x, y)

0 1

In [ ]:
# Untuk melihat dokumentasi dari built-in function
# Contoh:
?print
print?

In [ ]:
x = 125 * 10e6
print(x)
print(type(x))

1250000000.0
<class 'float'>

In [ ]:
# Math module
import math
math.ceil(7/3)

3

In [ ]:
# Cara lain untuk ceil division
def ceil_division(x, y):
  return -(x // -y)

print(ceil_division(7, 3))

3

In [ ]:
x = math.fabs(-100)
print(x)
print(type(x))

100.0
<class 'float'>

In [ ]:
x = math.pow(7, 3)
print(x)
print(type(x))

343.0
<class 'float'>

In [ ]:
# Constant
x = math.pi
print(x)
print(type(x))

3.141592653589793
<class 'float'>

In [ ]:
# Untuk mengubah jumlah angka desimal sesuai 
    # dengan yang diperlukan
round(100/3, 2)

33.3

# Casting (Mengubah Tipe Data)

In [ ]:
# String to int or float
x = '123'
x = float(x)
print(x)
print(type(x))

123.0
<class 'float'>

In [ ]:
# String yang isinya kata atau huruf tidak 
    # bisa dikonversi menjadi int atau float
x = 'Profile'
x = float(x)
print(type(x))

ValueError: ignored

In [ ]:
# Float to int hasilnya akan dikenakan pembulatan ke bawah
x = 123.8
x = int(x)
print(x)
print(type(x))

123
<class 'int'>

In [ ]:
x = '12.5'
x = float(x)
x = int(x)

print(x)
print(type(x))

12
<class 'int'>

In [ ]:
# Error karena angka awalnya berupa float.
# Jika ingin dikonversi menjadi int, konversi 
    # menjadi float terlebih dahulu baru 
    # konversi ke int
x = '12.5'
x = int(x)

print(x)
print(type(x))

ValueError: ignored

In [ ]:
# True bernilai 1 dan False bernilai 0
x = True
x = int(x)

print(x)
print(type(x))

1
<class 'int'>

# User Input

In [ ]:
# x = input('Please insert your name: ')
print(input('Please insert your name: '))

Please insert your name: Aulia
Aulia

In [ ]:
umur = int(input('Please insert your age: '))

Please insert your age: 23

In [ ]:
name = input('Please inert your name: ')
print('My name is', name)

Please inert your name: Aaron
My name is Aaron

# Single, Double, Triple Quotes, Escape Character

In [ ]:
# Tidak boleh ada jenis kutip yang sama di 
    # dalam suatu line.
x = "I'm Batman"
print(x)

I'm Batman

In [ ]:
# Escape character (\)
x = 'I\'m Batman'
print(x)

I'm Batman

In [ ]:
# Menggunakan ''' untuk penggunaan ' dan " secara 
    # bersamaan.
x = '''I'm "Batman"'''

print(x)

I'm "Batman"

In [ ]:
# Menggunakan ''' untuk print multiple lines.
x = '''My name is X
I'm y years old'''

print(x)

My name is X
I'm y years old

In [ ]:
# Escape characters" \n, \t, \b
x = '''My name is X\n\tI'm y years old\nNice to meet you\b'''

print(x)

My name is X
	I'm y years old
Nice to meet you

In [ ]:
# Terdapat perbedaan indentasi ketika 
    # menggunakan \t dan tab pada keyboard
print('\tHi')
print(' Hi')

	Hi
         Hi

# String Functions & Methods

In [ ]:
# Mengetahui panjang dari suatu string dengan 
    # menggunakan function len()
sentence = 'This is Python'

print(len(sentence))

14

In [ ]:
# Mencari substring yang sesuai pada sebuah string.
# Jika ada, outputnya adalah nomor index karakter 
    # pertama pada substring yang dicari
find_index = sentence.index('hon')

print(find_index)

11

In [ ]:
# Splitting
splitting = sentence.split('h')
print(splitting)

['T', 'is is Pyt', 'on']

In [ ]:
# Join
# Define karakter yang digunakan untuk menggabungkan 
    # beberapa string terlebih dahulu, baru define variabelnya.
('h').join(splitting)

'This is Python'

In [ ]:
x = 'hello world'
print(x.lower())
print(x.upper())
print(x.capitalize()) # Hanya mengubah karakter pertama 
                    # pada kata pertama menjadi huruf kapital
print(x.title()) # Mengubah karakter pertama pada 
                    # tiap kata dengan huruf kapital

hello world
HELLO WORLD
Hello world
Hello World

# String Indexing & Slicing

In [ ]:
sentence = 'Today, I am learning how to code in Python.'

In [ ]:
# Hanya mengambil karakter index ke-3 saja dari 
    # variabel sentence
print(sentence[3])

a

In [ ]:
# Titik dua setelah angka berarti kita ingin mengambil 
    # semua karakter dimulai dari index karakter yang kita 
    # definisikan.
# Angka index yang didefinisikan bersifat inclusive 
    # (termasuk ke dalam output).
print(sentence[3:])

ay, I am learning how to code in Python.

In [ ]:
# Titik dua sebelum angka berarti kita ingin mengambil 
    # karakter hingga sebelum angka index yang didefinisikan.
# Angka index yang didefinisikan bersifat exclusive 
    # (tidak termasuk ke dalam output).
print(sentence[:3])

Tod

In [ ]:
# Start : Stop : Step
# Inclusive : Exclusive : Default is 1
# In Python, indexing starts from 0
print(sentence[2:10]) # Mengambil karakter dari index ke-2 hingga index ke-9

day, I a

In [ ]:
# Negative indexing
# Indexing dari kanan ke kiri, dimulai dari -1
print(sentence[-2]) # n
print(sentence[-2:-5]) # Tidak error, tapi tidak 
                    # mengembalikan hasil apapun.
print(sentence[-5:-2]) # tho
print(sentence[:]) # return the whole string
print(sentence[::]) # return the whole string
print(sentence[::2]) # Menggunakan step 2, jadi ada 
                        # 1 karakter yang dilewat.

n

tho
Today, I am learning how to code in Python.
Today, I am learning how to code in Python.
Tdy  mlann o ocd nPto.

# String Concatenation

In [ ]:
last_name = 'Jordan'
first_name = 'Michael'

print(first_name + last_name)
print(first_name + ' ' + last_name)
print(first_name + ' ' + last_name + ' ' + \
    'number' + ' ' + str(23)) # integer harus 
                        # di-casting ke str dulu

MichaelJordan
Michael Jordan
Michael Jordan number 23

# String Format

In [ ]:
text = 'Michchael' + ' ' + 'Jordan' + ' ' + str(23)
print(text)

Michchael Jordan 23

In [ ]:
number = 23
text = 'Michael Jordan {}'
print(text.format(number))

Michael Jordan 23

In [ ]:
# f-String Method
print('Michael Jordan {number}')
print(f'Michael Jordan {number}')

Michael Jordan {number}
Michael Jordan 23

In [ ]:
# Float formatiing
name = 'Michael'
age = 100/3.2521

print(f'My name is {name}, I am {age} years old.')

# Mengubah jumlah angka di belakang koma sesuai kebutuhan
print(f'My name is {name}, I am {age:.0f} years old.') 
        # Ubah angkanya saja sesuai kebutuhan

My name is Michael, I am 30.749361950739523 years old.
My name is Michael, I am 31 years old.

# String Check

In [ ]:
sentence = 'Today, I am learning how to code in Python.'

In [ ]:
# Return True or False
print('day' in sentence)

True

In [ ]:
# Case sensitive
print('Day' in sentence)

False

In [ ]:
print('day' not in sentence)

False

In [ ]:
# Return 1 if True, otherwise 0
print(int('Day' in sentence))

0

# Additional String Methods

In [ ]:
sentence = 'Today, I am learning how to code in Python.'

In [ ]:
# Count untuk menghitung jumlah karakter yang ingin 
    # dicari pada suatu string
print(sentence.count('a'))

3

In [ ]:
# Endswith untuk mengecek apakah suatu string diakhiri 
    # dengan suatu kata atau karakter yang kita definisikan.
print(sentence.endswith('Python.'))

False

In [ ]:
# isalnum: return True jika string hanya berisi alphabet 
    # dan numerik (whitespace tidak termasuk)
print(sentence.isalnum())

False

In [ ]:
# isalpha: return True jika string hanya berisi alphabet
print(sentence.isalpha())

False

In [ ]:
# islower: return True jika semua huruf pada string 
    # adalah lower case
print(sentence.islower())

False

In [ ]:
# isupper: return True jika semua huruf pada string 
    # adalah upper case
print(sentence.isupper())

False

In [ ]:
# isspace: return True jika string hanya memiliki 
    # whitespace(s)
print(sentence.isspace())

False

In [ ]:
# replace()
# Mengganti karakter tertentu dengan nilai baru
print(sentence.replace('a', 'A'))

TodAy, I Am leArning how to code in Python.

In [ ]:
# Mengganti karakter hanya sesuai dengan jumlah 
    # yang diinginkan
print(sentence.replace('a', 'A', 2))

TodAy, I Am learning how to code in Python.