# Comparison Operators

In [ ]:
print(True)
print(False)

True
False

In [ ]:
# Comparison operators
print(5 > 3)
print(5 >= 3)
print(5 < 3)
print(5 <= 3)
print(5 != 3)
print(5 == 3)

True
True
False
False
True
False

# Logical Operators

In [ ]:
# AND

# Semua kondisi harus bernilai True untuk 
    # menghasilkan output True.
# Jika salah satu kondisinya bernilai False, 
    # maka return value-nya adalah False.

print(True and True)
print(True and False)
print(True and True and False)
print(False and False) # return False

True
False
False
False

In [ ]:
# OR

# Minimal ada satu kondisi yang bernilai True, 
    # maka akan menghasilkan output True.
# Jika semua kondisi False, maka akan 
    # menghasilkan output False.

print(True or True)
print(True or True or False)
print(True or False or False)
print(False or False) # return False

True
True
True
False

In [ ]:
# NOT

# Negasi atau mengembalikan nilai kebalikannya.

print(not True)
print(not False)
print(not True and False)
print(not False and True)

False
True
False
True

# Conditional Statements

In [ ]:
# IF Statement

# - Jika kondisi terpenuhi (bernilai True), 
    # maka tugas dijalankan oleh program.
# - Jika kondisi tidak terpenuhi (bernilai False),
    # maka program tidak menjalankan tugas apapun.

if True:                              # Condition
  print('Kondisi terpenuhi')          # Statement 1
  print('Program selesai dijalankan') # Statement 2

Kondisi terpenuhi
Program selesai dijalankan

In [ ]:
age = int(input('Masukkan umur Anda: '))

if age >= 17:
  print(f'Umur Anda sudah {age} tahun')
  print('Silakan isi formulir pendaftaran SIM')

Masukkan umur Anda: 16

In [ ]:
# IF ELSE statement

# - Jika kondisi terpenuhi pada if (bernilai True), 
    # maka tugas di if statements dijalankan.
# - Jika kondisi tidak terpenuhi pada if (bernilai False), 
    # maka tugas di else statements yang dijalankan.

age = int(input('Masukkan umur Anda: '))

if age >= 17:
  print(f'Umur Anda sudah {age} tahun')
  print('Silakan isi formulir pendaftaran SIM')
else:
  print('Maaf, umur Anda belum cukup untuk dapat membuat SIM')

Masukkan umur Anda: 14
Maaf, umur Anda belum cukup untuk dapat membuat SIM

In [ ]:
# IF ELIF ELSE Statement

# - Jika kondisi terpenuhi pada if (bernilai True), 
    # maka tugas di if statements dijalankan.
# - Jika kondisi tidak terpenuhi pada if (bernilai False), 
    # maka tugas di elif statements dijalankan.
# - Jika kondisi tidak terpenuhi pada elif (bernilai False), 
    # maka tugas di else statements dijalankan.

score = float(input('Masukkan nilai ujian: '))

if score > 100:
  print('Nilai invalid')
elif score >= 90:
  print('Nilai Anda A')
elif score >= 80:
  print('Nilai Anda B')
elif score >= 70:
  print('Nilai Anda C')
elif score >= 60:
  print('Nilai Anda D')
else:
  print('Nilai Anda F, Anda tidak lulus.')

Masukkan nilai ujian: 89.9
Nilai Anda B

# Looping Statements

Looping digunakan untuk mengeksekusi kode secara berulang, 
sehingga kode bisa menjadi lebih efisien.

2 tipe looping:

- **while loop**: 

looping berdasarkan suatu kondisi, mirip 
dengan if statements, hanya saja terdapat iterasi/perulangan 

sehingga kondisi yang diinginkan tidak terpenuhi lagi 
(dengan kata lain, proses looping akan berhenti).

- **for loop**: 

looping dalam jumlah tertentu yang jumlah 
iterasinya sudah didefinisikan di awal (implisit atau eksplisit).

# While Loop

In [ ]:
# Contoh 1

# Cara konvensional
print('Halo, selamat datang.')
print('Halo, selamat datang.')
print('Halo, selamat datang.')
print('Halo, selamat datang.')
print('Halo, selamat datang.')
print()

# Cara while loop
x = 0 # Looping akan mulai dari 0 karena kita define x = 0

while (x < 5):
  print('Halo, selamat datang.')
  x += 1 # Compound assignment operation, sama dengan x = x + 1, 
            # yang mana akan meng-update nilai x, sehingga nantinya 
            # bisa menjadi bernilai False ketika looping dilakukan.

         # Kode compound assignment operator pada while loop 
            # sangatlah penting. Kalau tidak ada, maka akan terjadi
            # infinite loop, di mana looping akan terus berulang pada 
            # nilai yang sama.

Halo, selamat datang.
Halo, selamat datang.
Halo, selamat datang.
Halo, selamat datang.
Halo, selamat datang.

Halo, selamat datang.
Halo, selamat datang.
Halo, selamat datang.
Halo, selamat datang.
Halo, selamat datang.

In [ ]:
# Contoh 2

x = 0

while (x < 10):
  print(x, end='') # Jika hasil dari tiap iterasi tidak mau 
                      # di-print ke baris baru, define parameter 
                      # end=''. Isi di dalam kutip bisa apa saja.
  x += 2

02468

In [ ]:
# Contoh 3

x = -100

while (x < -10):
  print(x, end=' ')
  x += 1 # Outputnya dari -100 sampai -11

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11

In [ ]:
# Contoh 4

x = 0

while x < 10:
  print('Nilai x saat ini adalah: ', x)
  print('Nilai x masih lebih kecil dari 10, tambahkan 1 ke x')
  x += 1

Nilai x saat ini adalah:  0
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  1
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  2
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  3
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  4
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  5
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  6
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  7
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  8
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  9
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x

In [ ]:
# Contoh 5
# Menambahkan else statement

x = 0 

while x < 10:
  print('Nilai x saat ini adalah: ', x)
  print('Nilai x masih lebih kecil dari 10, tambahkan 1 ke x')
  x += 1

else:
  print('\nNilai x sudah tidak lagi kurang dari 10.')

Nilai x saat ini adalah:  0
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  1
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  2
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  3
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  4
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  5
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  6
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  7
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  8
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x
Nilai x saat ini adalah:  9
Nilai x masih lebih kecil dari 10, tambahkan 1 ke x

Nilai x sudah tidak lagi kurang dari 10.

# For Loop

In [ ]:
# Contoh 1

for x in range(5): # 0 1 2 3 4
  print('Halo, selamat datang')

# range() function menghasilkan sequnce numbers.
# Secara default mulai dari 0, meningkat sebanyak 1, 
  # dan berhenti di 1 angka sebelum angka yang didefinisikan (n-1).

Halo, selamat datang
Halo, selamat datang
Halo, selamat datang
Halo, selamat datang
Halo, selamat datang

In [ ]:
# Contoh 2

# Case 1
for i in range(0, 12, 3): # start stop step
  print(i) # i adalah variabel untuk memanggil semua 
            # item dalam range yang didefinisikan.

# Case 2
for i in range(12, 3):
  print(i) # tidak akan error, tapi tidak menghasilkan 
            # output apa-apa karena step-nya dibiarkan default +1.

# Case 3
for i in range(12, 3, -1):
  print(i) # agar dapat mengeluarkan output, step harus 
              # didefisikan secara hitung mundur, karena 
              # angka start lebih besar dari stop.

12
11
10
9
8
7
6
5
4

In [ ]:
# Contoh 3

angka = [1, 2, 3, 4, 5, 6]

for i in angka:
  print(i, end=' ')

# Menambahkan conditional statement
for i in angka:
  if i % 2 == 1:
    print(i, end=' ')

1 3 5

In [ ]:
# Contoh 4

# Menambahkan conditional statement
for i in angka:
  if i % 2 == 0:
    print(i)
  else:
    print('Angka ganjil')

Angka ganjil
2
Angka ganjil
4
Angka ganjil
6

In [ ]:
# Contoh 5
# For loop bisa diaplikasikan untuk semua 
  # colllection data types

angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0

for angka in range(1, len(angka)+1):
  total += angka
print(total)

55

In [ ]:
# Contoh 6

list_buah = ['apel', 'mangga', 'jeruk']

for sebuah_buah in range(len(list_buah)):
  print(list_buah[sebuah_buah])

apel
mangga
jeruk

In [ ]:
# Background process yang terjadi pada contoh 6
list_buah = ['apel', 'mangga', 'jeruk']

print(list_buah[0])
print(list_buah[1])
print(list_buah[2])

apel
mangga
jeruk

In [ ]:
# Contoh 7
# For looping dapat digunakan untuk mengiterasi sebuah string
# Setiap elemen dalam string akan diiterasi

for huruf in 'Selamat datang':
  print(huruf, end='')

Selamat datang

In [ ]:
# Contoh 8
# For loop pada tuple

tuple1 = [(2, 4), (3, 6), (4, 8)]

for tup in tuple1:
  print(tup)

# Tuple unpacking
for tup1, tup2 in tuple1:
  print(tup1) 

for tup1, tup2 in tuple1:
  print(tup2)

(2, 4)
(3, 6)
(4, 8)
2
3
4
4
6
8

In [ ]:
# Contoh 9
# For loop pada dictionary

dict1 = {'n1': 1, 'n2': 2, 'n3': 3}

for item in dict1:
  print(item) # output n1 n2 n3

for item in dict1:
  print(item[1]) # output: 1 2 3

# Cara lain
# Dictionary unpacking

for key, value in dict1.items():
  print(value) # output 1 2 3

for key, value in dict1.items():
  print(key, value) # output n1 1 n2 2 n3 3

n1
n2
n3
1
2
3
1
2
3
n1 1
n2 2
n3 3