`May 30, 2022`

# Collection Data Types

## List

- List dapat menyimpan berbagai jenis tipe data (string, boolean, integer, list, tuple, dll.) secara bersamaan.
- Dapat memiliki data yang sama atau duplikat.
- Kita dapat mengubah elemen yang ada di dalam suatu list (mutable).
- Ditandai dengan []

In [ ]:
# Syntax

contoh_list = ['Halo', 1, 10, 100.2, True]
# index:         0     1   2    3     4
# negative:     -5    -4  -3   -2    -1

In [ ]:
# Kita dapat mengakses element pada suatu list 
    # dengan melakukan indexing
print(contoh_list[0]) # Halo
print(contoh_list[-2]) # 100.2

<class 'str'>
100.2

In [ ]:
# Akses data menggunakan range of index (slicing)
print(contoh_list[-4:-1]) # 1 10 100.2 True
print(contoh_list[3:]) # 100.2 True
print(contoh_list[:3]) # 'Halo' 1 10

<class 'list'>
[100.2, True]
['Halo', 1, 10]

In [ ]:
# Mengubah data pada list

contoh_list[1] = 'Bandung'
contoh_list[-2] = 'Jakarta'

print(contoh_list)

['Halo', 'Bandung', 10, 'Jakarta', True]

In [ ]:
# Menambah data pada list (append() dan insert())

contoh_list.append('Hai') # Data baru akan berada di index terakhir
contoh_list.insert(2, 'Good') # Menambah data baru pada index tertentu

print(contoh_list)

['Halo', 'Bandung', 'Good', 10, 'Jakarta', True, 'Hai']

In [ ]:
# Menghapus data pada list

contoh_list.remove('Hai') # Akan menghapus 'Hai' pertama 
                        # (kalau ada lebih dari 1 kata yang sama)
contoh_list.pop()  # Menghapus item terakhir
del contoh_list[1] # Menghapus item pada index 1

print(contoh_list)

['Halo', 'Good', 10, 'Jakarta']

In [ ]:
# Menghapus semua data pada sebuah list
contoh_list.clear()

print(contoh_list)

[]

In [ ]:
# Looping pada list

contoh_list = ['Halo', 'Bandung', 10, 'Jakarta', True]

for item in contoh_list:
  print(item)

Halo
Bandung
10
Jakarta
True

In [ ]:
# Cek jika suatu item berada pada sebuah list

if 'Bandung' in contoh_list:
  print('Ada string Bandung di contoh_list')
else:
  print('String Bandung tidak ditemukan')

Ada string Bandung di contoh_list

In [ ]:
# not in

if 'Bogor' not in contoh_list:
  print('Tidak ada string Bogor di contoh_list')
else:
  print('String Bogor ada di contoh_list')

Tidak ada string Bogor di contoh_list

In [ ]:
# Mengecek banyaknya item pada sebuah list

contoh_list = ['Halo', 'Bandung', 10, 'Jakarta', True]

print(len(contoh_list))

5

In [ ]:
# Copy sebuah list

contoh_list = ['Halo', 'Bandung', 10, 'Jakarta', True]

list_baru = contoh_list # Dengan cara ini, jika ada item 
                        # yang diubah, maka item yang ada 
                        # di variabel asli akan ikut berubah.
list_baru[1] = 'Depok'

print(contoh_list)

# Gunakan .copy() untuk menduplikasi sebuah list.
# Jika kita mengubah item pada list baru, item 
    # pada list awal tidak akan berubah.
list_baru_copy = contoh_list.copy()
list_baru_copy[2] = 2000

print(list_baru_copy)
print(contoh_list)

['Halo', 'Bandung', 2000, 'Jakarta', True]
['Halo', 'Bandung', 10, 'Jakarta', True]

In [ ]:
# List concatenation

contoh_list = ['Halo', 'Bandung', 10, 'Jakarta', True]
list_baru = [9, False]
list_lain = ['Kucing', 'Jalan', 200]

list_gabungan = list_baru + contoh_list
print(list_gabungan)

# Menggunakan .extend()
list_gabungan.extend(list_lain)
print(list_gabungan)

[9, False, 'Halo', 'Bandung', 10, 'Jakarta', True]
[9, False, 'Halo', 'Bandung', 10, 'Jakarta', True, 'Kucing', 'Jalan', 200]

In [ ]:
# Mencari index

nama = ['Andi', 'Budi', 'Caca', 'Dedi', 'Edu']

cari_index = nama.index('Dedi')
print(cari_index)

cari_index2 = nama.index('Erika')
print(cari_index2) # Error karena tidak Erika di dalam list nama

3

ValueError: ignored

In [ ]:
# Sorting
nama = ['Andi', 'Rudi', 'Caca', 'Medi', 'Edu']

# Mengurutkan dari A ke Z
nama.sort()
print(nama)

# Mengurutkan dari Z ke A
nama.sort(reverse=True)
print(nama)

['Andi', 'Caca', 'Edu', 'Medi', 'Rudi']
['Rudi', 'Medi', 'Edu', 'Caca', 'Andi']

In [ ]:
# Reverse
nama = ['Andi', 'Rudi', 'Caca', 'Medi', 'Edu']

nama.reverse()
print(nama)

['Edu', 'Medi', 'Caca', 'Rudi', 'Andi']

In [ ]:
# 2D list

benda = [
         ['pulpen_biru', 'pulpen_merah'],
         ['kucing_persia', 'kucing_british'],
         ['bola_voli', 'bola_futsal']
]

print(benda)

print(benda[1][1]) # kucing_british
print(benda[2][0]) # bola_voli

[['pulpen_biru', 'pulpen_merah'], ['kucing_persia', 'kucing_british'], ['bola_voli', 'bola_futsal']]
kucing_british
bola_voli

### List Comprehension

- Cara cepat untuk membuat sebuah list yang basis logikanya berasal dari for loop.
- Jika kode cukup kompleks, seperti misalnya dibutukan if elif else condition yang cukup banyak, maka lebih baik menggunakan for loop untuk readability yang lebih baik.

In [ ]:
# Contoh 1

contoh_string = 'Halo'
contoh_list = []

for huruf in contoh_string:
  contoh_list.append(huruf)

print('Menggunakan for loop:', contoh_list)

# Menggunakan list comprehension

contoh_listcomp = [huruf for huruf in contoh_string]
print('Menggunakan list comprehension:', contoh_listcomp)

Menggunakan for loop: ['H', 'a', 'l', 'o']
Menggunakan list comprehension: ['H', 'a', 'l', 'o']

In [ ]:
# Contoh 2 
kalimat = [i for i in 'kalimat']
print(kalimat)

['k', 'a', 'l', 'i', 'm', 'a', 't']

In [ ]:
# Contoh 3
angka = [x for x in range(10)]
print(angka)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Contoh 4
kuadrat = [x**2 for x in range(10)]
print(kuadrat)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Contoh 5
# Menambahkan if statement pada list comprehension

contoh_if = [x for x in range(11) if x % 2 == 0]
print(contoh_if)

[0, 2, 4, 6, 8, 10]

In [ ]:
# Contoh 6
# Nested loop

my_list = []

for x in [2, 4, 6]:
  for y in [100, 200, 300]:
    my_list.append(x*y)

print('Menggunakan nested loop:', my_list)

# Menggunakan list comprehension
my_list_compre = [x*y for x in [2, 4, 6] for y in [100, 200, 300]]
print('Menggunakan list comprehension:', my_list_compre)

Menggunakan nested loop: [200, 400, 600, 400, 800, 1200, 600, 1200, 1800]
Menggunakan list comprehension: [200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [ ]:
# 3D List

# Contoh
# Input: 
# 3 x 3 x 3

# Output:
# [[['#', '#', '#'], ['#', '#', '#'], ['#', '#', '#']],
#  [['#', '#', '#'], ['#', '#', '#'], ['#', '#', '#']],
#  [['#', '#', '#'], ['#', '#', '#'], ['#', '#', '#']]]

# Input:
# 5 x 3 x 2

# Output:
# [[['#', '#', '#', '#', '#'],
#   ['#', '#', '#', '#', '#'],
#   ['#', '#', '#', '#', '#']],
#  [['#', '#', '#', '#', '#'],
#   ['#', '#', '#', '#', '#'],
#   ['#', '#', '#', '#', '#']]]

## Tuple

- Mirip seperti ist, dapat menyimpan banyak value dengan berbagai tipe data, tetapi item tidak dapat diubah setelah dibuat (immutable).
- Dapat indexing.
- Ditandai dengan ()

In [ ]:
# Syntax
contoh_tuple = ('Halo', 1, 2, 4, True)
# index:           0    1  2  3    4

print(contoh_tuple)

('Halo', 1, 2, 4, True)

In [ ]:
# Indexing
print(contoh_tuple[0]) # Halo
print(contoh_tuple[2]) # 2

# Negative indexing
print(contoh_tuple[-1]) # True
print(contoh_tuple[-5]) # 'Halo'

Halo
2
True
Halo

In [ ]:
# Slicing
contoh_tuple = ('Halo', 1, 2, 4, True)

print(contoh_tuple[-4:-1]) # (1, 2, 4)
print(contoh_tuple[1:4]) # (1, 2, 4)
print(contoh_tuple[-5:2]) # ('Halo', 1)
print(contoh_tuple[0:-2]) # ('Halo', 1, 2)
print(contoh_tuple[2:]) # (2, 4, True)

(1, 2, 4)
(1, 2, 4)
('Halo', 1)
('Halo', 1, 2)
(2, 4, True)

In [ ]:
# Mengubah data

contoh_tuple = ('Halo', 1, 2, 4, True)
# contoh_tuple[1] = 100 # Error

# Agar tidak error, kita bisa menyiasatinya dengan mengubah dulu tuple ke list, lalu ubah ke tuple kembali.

list_contoh = list(contoh_tuple)
list_contoh[1] = 100
contoh_tuple = tuple(list_contoh)
print(contoh_tuple) # ('Halo', 100, 2, 4, True)

('Halo', 100, 2, 4, True)

In [ ]:
# Looping pada tuple

contoh_tuple = ('Halo', 1, 2, 4, True)

for item in contoh_tuple:
    print(item)

Halo
1
2
4
True

In [ ]:
# Cek jika item ada pada tuple

contoh_tuple = ('Halo', 1, 2, 4, True)

if 'Halo' in contoh_tuple:
    print('Ada')
else:
    print('Tidak ditemukan')

Ada

In [ ]:
# Cek jumlah item pada tuple

contoh_tuple = ('Halo', 1, 2, 4, True)

print(len(contoh_tuple)) # 5

5

In [ ]:
# Cara membuat tuple hanya dengan 1 item
# Harus tambahkan koma di akhir sebelum kurung tutup

tuple1 = ('halo',)
print(tuple1) # ('halo')
print(len(tuple1)) # 1
print(type(tuple1)) # <class 'tuple'>

# Jika tidak memakai koma di akhir, tidak akan menjadi tuple
tuple2 = ('halo')
print(tuple2) # 'halo'
print(type(tuple2)) # <class 'str'>

('halo',)
1
<class 'tuple'>
halo
<class 'str'>

In [ ]:
# Tuple concatenating

contoh_tuple = ('Halo', 1, 2, 4, True)
tuple_tambah = (5, 6, False)

tuple_gabungan = contoh_tuple + tuple_tambah
print(tuple_gabungan) # ('Halo', 1, 2, 4, True, 5, 6, False)

('Halo', 1, 2, 4, True, 5, 6, False)

In [ ]:
# Mencari index pada tuple

nama_tuple = ('edi', 'bambang', 'septi', 'lodri')
cari_tuple = nama_tuple.index('septi')

print(cari_tuple) # 2

cari_tuple2 = nama_tuple.index('kyu')
print(cari_tuple2) # Error

2

ValueError: ignored

In [ ]:
benda = (
    ('ayam', 'kucing'),
    ('jam', 'celana'),
    ('meja', 'kursi')
)

print(benda[1]) # ('jam', 'celana')
print(benda[1][1]) # 'celana'

('jam', 'celana')
celana

## Dictionary

- Kontainer yang bisa menampung banyak value dengan beragam tipe data, tetapi bersifat tidak berurutan.
- Ditandai dengan {}
- Memiliki key dan value, di mana key berupa kata kunci unik dan berfungsi mirip seperti index pada list.
- Indexing menggunakan nama key.
- Gunakan Dictionary bila ingin menyimpan data yang lebih dari 1 (seperti List)saat data tersebut tidak memiliki pola atau tipe data yang sama, tetapi berhubungan 1 dengan yang lainnya.

In [ ]:
# Syntax
dictionary = {'key': 'value'}

print(dictionary)
print(dictionary['key'])
# print(dictionary[0]) # Error karena dictionary tidak bisa 
    # diakses dengan index angka, hanya bisa dengan nama key-nya.

{'key': 'value'}
value

In [ ]:
# Membuat dictionary

# Cara 1
dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist'
}

print(dict1)

# Cara 2
# Menggunakan dict()

dict2 = dict(name='Gigi', age=26, job='Data analyst')
print(dict2)

{'name': 'Gogo', 'age': 25, 'job': 'Data scientist'}
{'name': 'Gigi', 'age': 26, 'job': 'Data analyst'}

In [ ]:
# Mengakses data pada dictionary

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist',
    'married': False
}

# Cara 1
print(dict1['job'])

# Cara 2
# Menggunakan .get()
print(dict1.get('job'))

Data scientist
Data scientist

In [ ]:
# Mengubah data

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist'
}

dict1['age'] = 27
print(dict1)

{'name': 'Gogo', 'age': 27, 'job': 'Data scientist'}

In [ ]:
# Menambah data

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist'
}

dict1['gender'] = 'Male'
print(dict1)

{'name': 'Gogo', 'age': 25, 'job': 'Data scientist', 'gender': 'Male'}

In [ ]:
# Menghapus data

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist',
    'married': False
}

# print(dict1)

del dict1['job']
print(dict1) # Remove 'job'

dict1.pop('name') # Remove 'name'
print(dict1)

dict1.popitem() # Remove the last key-value pair
print(dict1)

{'name': 'Gogo', 'age': 25, 'married': False}
{'age': 25, 'married': False}
{'age': 25}

In [ ]:
# Looping pada dictionary

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist',
    'married': False
}

# Loop langsung pada dictionary
for key in dict1:
  print(f'{key} = {dict1[key]}')
print()

# Loop pada data yang dihasilkan oleh method keys
for key in dict1.keys():
  print(key)
print()

# Loop pada data yang dihasilkan oleh method values
for val in dict1.values():
  print(val)
print()

# Loop pada data yang dihasilkan oleh method items 
  # (terdiri keys dan values)
for key, val in dict1.items():
  print(f'{key} = {val}')

name = Gogo
age = 25
job = Data scientist
married = False

name
age
job
married

Gogo
25
Data scientist
False

name = Gogo
age = 25
job = Data scientist
married = False

In [ ]:
# Cek jika key ada pada dictionary

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist',
    'married': False
}

if 'age' in dict1:
  print('Ada key age pada dict1')
else:
  print('Tidak ditemukan')

Ada key age pada dict1

In [ ]:
# Cek jumlah key-value pairs pada dictionary

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist',
    'married': False
}

print(len(dict1))

4

In [ ]:
# Cara copy dictionary 

dict1 = {
    'name': 'Gogo',
    'age': 25,
    'job': 'Data scientist',
    'married': False
}

dict_baru = dict1
dict_baru['name'] = 'Gigi'

# Gunakan .copy() agar nilai baru tidak 
    # menimpa nilai pada variable awal.
dict_copy = dict1.copy()
dict_copy['age'] = 30

print(dict_baru)
print(dict_copy)
print(dict1)

{'name': 'Gigi', 'age': 25, 'job': 'Data scientist', 'married': False}
{'name': 'Gigi', 'age': 30, 'job': 'Data scientist', 'married': False}
{'name': 'Gigi', 'age': 25, 'job': 'Data scientist', 'married': False}

In [ ]:
# Nested dictionary

makanan = {
    'pembuka': {
                'nama': 'Sup',
                'harga': 20000
  },
    'main_course': {
                'nama': 'Nasi goreng',
                'harga': 40000
  },
    'dessert': {
                'nama': 'Puding',
                'harga': 12000
    }

}

print(makanan)

print(makanan['pembuka']) # {'nama': 'Sup', 'harga': 20000}
print(makanan['pembuka']['nama']) # Sup
print(makanan['pembuka']['harga']) # 20000

{'pembuka': {'nama': 'Sup', 'harga': 20000}, 'main_course': {'nama': 'Nasi goreng', 'harga': 40000}, 'dessert': {'nama': 'Puding', 'harga': 12000}}
{'nama': 'Sup', 'harga': 20000}
Sup
20000

## Set

- Dapat digunakan untuk menyimpan banyak value dengan berbagai tipe data, tapi tidak bisa menerima duplikat value.
- Pada set, setiap value adalah unik, tidak ada perulangan (duplikat), dan bersifat unordered.
- Ditandai dengan {}, tapi tidak memiliki key-value pair seperti dictionary.
- Set bisa digunakan untuk mem-filter data duplikat.
- Tidak bisa indexing, tapi bisa diaplikasikan pada for loop.

In [ ]:
# Syntax

my_set = {'Spiderman', 'Iron Man', 'The Avengers', 'Iron Man'}

print(my_set)

# For loop pada set
for i in my_set:
  print(i)

{'The Avengers', 'Iron Man', 'Spiderman'}
The Avengers
Iron Man
Spiderman

In [ ]:
# Membuat set dari list, tuple, dictionary

list1 = ['Andi', 2, 4]
tuple1 = (False, 1, 1, 'Budi')
dict1 = {
    'name': 'Cici',
    'age': 29
}

set_list1 = set(list1)
set_tuple1 = set(tuple1)
set_dict1 = set(dict1)
set_dict1_values = set(dict1.values())

print(set_list1)
print(set_tuple1)
print(set_dict1)
print(set_dict1_values)

{'Andi', 2, 4}
{False, 1, 'Budi'}
{'age', 'name'}
{29, 'Cici'}

In [ ]:
# Akses data

my_set = {'Spiderman', 'Iron Man', 'The Avengers', 'Iron Man'}

for item in my_set:
  print(item)

The Avengers
Iron Man
Spiderman

In [ ]:
# Menambah data

my_set = {'Spiderman', 'Iron Man', 'The Avengers', 'Iron Man'}

my_set.add('Hulk')
print(my_set)

my_set.update({'Cat Woman', 'Hulk', 'Iron Man'})
print(my_set)

{'Hulk', 'The Avengers', 'Iron Man', 'Spiderman'}
{'Hulk', 'Iron Man', 'Spiderman', 'Cat Woman', 'The Avengers'}

In [ ]:
# Menghapus data

my_set = {'Spiderman', 'Iron Man', 'The Avengers', 'Hulk'}

my_set.remove('Spiderman')
print(my_set)

my_set.discard('Iron Man')
print(my_set)

my_set.pop()
print(my_set)

my_set.clear()
print(my_set) # set()

{'Hulk', 'The Avengers', 'Iron Man'}
{'Hulk', 'The Avengers'}
{'The Avengers'}
set()

In [ ]:
# Menghitung jumlah item pada set

my_set = {'Spiderman', 'Iron Man', 'The Avengers', 'Iron Man'}

print(len(my_set))

3

### Join Sets

In [ ]:
set_movie1 = {'Spiderman', 'Iron Man', 'The Avengers', 'Hulk'}
set_movie2 = {'Cat Woman', 'Dr. Strange', 'Iron Man'}

# Menggabungkan semua data dari beberapa sets
set_gabungan = set_movie1.union(set_movie2)
print(set_gabungan)

# Mencari perbedaan pada 2 set berbeda
set_diff = set_movie1.difference(set_movie2)
print(set_diff)

# Mencari perbedaan simetris antara 2 sets
set_diff_sym = set_movie1.symmetric_difference(set_movie2)
print(set_diff_sym)

# Mencari intersection antara 2 sets
intersect = set_movie1.intersection(set_movie2)
print(intersect)

{'Hulk', 'Dr. Strange', 'Iron Man', 'Spiderman', 'Cat Woman', 'The Avengers'}
{'Hulk', 'Spiderman', 'The Avengers'}
{'Hulk', 'The Avengers', 'Dr. Strange', 'Spiderman', 'Cat Woman'}
{'Iron Man'}

In [ ]:
# Cek disjoint, subset, superset

# disjoint mengembalikan nilai True jika 
    # tidak ada item yang sama antar kedua set.
set_movie1 = {'Cats Woman', 'Dr. Stranges', 'Iron Mans'}
set_movie2 = {'Cat Woman', 'Dr. Strange', 'Iron Man'}

print(set_movie1.isdisjoint(set_movie2))


set_movie1 = {'Spiderman', 'Iron Man', 'The Avengers', 'Cat Woman'}
set_movie2 = {'Cat Woman', 'Iron Man'}

# subset
# Semua datanya dimiliki oleh superset, jadi 
    # seperti lingkaran kecil di dalam lingkaran besar.
print(set_movie2.issubset(set_movie1))

# superset
# Mengembalikan True jika superset memiliki 
    # semua data yang ada di subset
print(set_movie1.issuperset(set_movie2))

True
True
True

# zip() Function

- Menggabungkan collection data types menjadi tuple yang berpasangan.
- Contoh, item pertama pada list1 akan dipasangkan dengan item pertama pada list2.

- Return-nya berupa tuple.

In [ ]:
# Contoh

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Untuk menampilkan hasilnya, cara pertama adalah 
    # harus dikonversi dulu ke dalam list misalnya.
# Jika tidak, maka hanya zip object-lah yang muncul di output.
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# Cara 2
# Menggunakan looping untuk menampilkan hasil
for item in zip(list1, list2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
# Tuple unpacking
for i, j in zip(list1, list2):
  print(j)

a
b
c

In [ ]:
# Bagaimana jika jumlah item tidak sama?

list1 = [3, 4, 5, 6]
list2 = ['a', 'b', 'c']

for item in zip(list1, list2):
  print(item) # item 6 tidak ditampilkan di 
            # output karena tidak memiliki pasangan

(3, 'a')
(4, 'b')
(5, 'c')