`June 6, 2022`

# Pandas Exercise 1

**Membuat DataFrame**

Ikuti semua petunjuk yang harus dilakukan di bawah ini.

**Step 1. Import library yang dibutuhkan.**

In [ ]:
# Insert your code here
import pandas as pd
import numpy as np

# Menghilangkan warning chained-rule pada Pandas
pd.options.mode.chained_assignment = None

**Step 2. Buat data berjumlah 5 kolom dan 10 baris dalam bentuk dictionary. Kolom dan data mengikuti output Step 3.**

In [ ]:
# Insert your code here
data = {'Nama': ['Andi', 'Budi', 'Caca', 'Dedi', 'Erika', 'Fahri', 'Gina', 'Hani', 'Irja', 'Jarot'],
        'Umur': [24, 25, 30, 32, 28, 24, 29, 31, 30, 29],
        'Gender': ['Pria', 'Pria', 'Wanita', 'Pria', 'Wanita', 'Pria', 'Wanita', 'Wanita', 'Pria', 'Pria'],
        'Pekerjaan': ['Data Analyst', 'Data Engineer', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Engineer',
                        'ML Engineer', 'ML Researcher', 'BI Analyst', 'Data Analyst'],
        'Domisili': ['Jakarta', 'Tangerang Selatan', 'Jakarta', 'Bandung', 'Jakarta', 'Surabaya',
                        'Bandung', 'Yogyakarta', 'Jakarta', 'Tangerang Selatan']}

**Step 3. Ubah data menjadi bentuk DataFrame dan simpan ke dalam variabel baru.**

In [ ]:
# Insert your code here
df = pd.DataFrame(data)
df

    Nama  Umur  Gender       Pekerjaan           Domisili
0   Andi    24    Pria    Data Analyst            Jakarta
1   Budi    25    Pria   Data Engineer  Tangerang Selatan
2   Caca    30  Wanita  Data Scientist            Jakarta
3   Dedi    32    Pria  Data Scientist            Bandung
4  Erika    28  Wanita    Data Analyst            Jakarta
5  Fahri    24    Pria   Data Engineer           Surabaya
6   Gina    29  Wanita     ML Engineer            Bandung
7   Hani    31  Wanita   ML Researcher         Yogyakarta
8   Irja    30    Pria      BI Analyst            Jakarta
9  Jarot    29    Pria    Data Analyst  Tangerang Selatan

**Step 4. Ubah urutan kolom tersebut menjadi seperti berikut: Nama, Gender, Umur, Domisili, Pekerjaan.**

In [ ]:
# Insert your code here
df = df[['Nama', 'Gender', 'Umur', 'Domisili', 'Pekerjaan']]
df

    Nama  Gender  Umur           Domisili       Pekerjaan
0   Andi    Pria    24            Jakarta    Data Analyst
1   Budi    Pria    25  Tangerang Selatan   Data Engineer
2   Caca  Wanita    30            Jakarta  Data Scientist
3   Dedi    Pria    32            Bandung  Data Scientist
4  Erika  Wanita    28            Jakarta    Data Analyst
5  Fahri    Pria    24           Surabaya   Data Engineer
6   Gina  Wanita    29            Bandung     ML Engineer
7   Hani  Wanita    31         Yogyakarta   ML Researcher
8   Irja    Pria    30            Jakarta      BI Analyst
9  Jarot    Pria    29  Tangerang Selatan    Data Analyst

**Step 5. Tambahkan 1 kolom baru bernama 'Hobi' dan isikan datanya seperti output berikut.**

In [ ]:
# Insert your code here
df['Hobi'] = ['Gaming', 'Futsal', 'Baca', 'Gaming', 'Masak', 'Traveling', 'Basket', 'Traveling', 'Gaming', 'Futsal']
df

    Nama  Gender  Umur           Domisili       Pekerjaan       Hobi
0   Andi    Pria    24            Jakarta    Data Analyst     Gaming
1   Budi    Pria    25  Tangerang Selatan   Data Engineer     Futsal
2   Caca  Wanita    30            Jakarta  Data Scientist       Baca
3   Dedi    Pria    32            Bandung  Data Scientist     Gaming
4  Erika  Wanita    28            Jakarta    Data Analyst      Masak
5  Fahri    Pria    24           Surabaya   Data Engineer  Traveling
6   Gina  Wanita    29            Bandung     ML Engineer     Basket
7   Hani  Wanita    31         Yogyakarta   ML Researcher  Traveling
8   Irja    Pria    30            Jakarta      BI Analyst     Gaming
9  Jarot    Pria    29  Tangerang Selatan    Data Analyst     Futsal

**Soal Lanjutan**

**6. Gunakan .iloc untuk mengambil data Dedi, Fahri, Hani**

In [ ]:
# Insert your code here
df.iloc[3:8:2]
# df.iloc[[3, 5, 7]] # Fancy indexing

    Nama  Gender  Umur    Domisili       Pekerjaan       Hobi
3   Dedi    Pria    32     Bandung  Data Scientist     Gaming
5  Fahri    Pria    24    Surabaya   Data Engineer  Traveling
7   Hani  Wanita    31  Yogyakarta   ML Researcher  Traveling

**7. Gunakan .loc untuk menampilkan domisili dan pekerjaan dari Caca dan Irja (termasuk kolom nama)**

In [ ]:
# Insert your code here
df.loc[[2, 8], ['Nama', 'Domisili', 'Pekerjaan']]

   Nama Domisili       Pekerjaan
2  Caca  Jakarta  Data Scientist
8  Irja  Jakarta      BI Analyst

**8. Gunakan .loc untuk menampilkan semua data dari Hani, Irja, Jarot**

In [ ]:
# Insert your code here
df.loc[7:]

    Nama  Gender  Umur           Domisili      Pekerjaan       Hobi
7   Hani  Wanita    31         Yogyakarta  ML Researcher  Traveling
8   Irja    Pria    30            Jakarta     BI Analyst     Gaming
9  Jarot    Pria    29  Tangerang Selatan   Data Analyst     Futsal

**9. Siapa sajakah yang berumur lebih dari 30 tahun?**

In [ ]:
# Insert your code here
df[df['Umur'] > 30]

   Nama  Gender  Umur    Domisili       Pekerjaan       Hobi
3  Dedi    Pria    32     Bandung  Data Scientist     Gaming
7  Hani  Wanita    31  Yogyakarta   ML Researcher  Traveling

In [ ]:
# Mengembalikan boolean
df['Umur'] > 30

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
8    False
9    False
Name: Umur, dtype: bool

**10. Siapa sajakah yang berumur kurang dari 30 tahun dan hobinya Gaming?**

In [ ]:
# Insert your code here
df[(df['Umur'] < 30) & (df['Hobi'] == 'Gaming')]

   Nama Gender  Umur Domisili     Pekerjaan    Hobi
0  Andi   Pria    24  Jakarta  Data Analyst  Gaming

**11. Tampilkan nama orang yang pekerjaannya adalah Data Analyst! Tampilkan kolom nama saja dalam bentuk Series!**

In [ ]:
# Insert your code here
df[df['Pekerjaan'] == 'Data Analyst']['Nama']

0     Andi
4    Erika
9    Jarot
Name: Nama, dtype: object

**12. Apa saja pekerjaan orang-orang yang berdomisili di Jakarta? Tampilkan nama dan pekerjaannya!**

In [ ]:
# Insert your code here
df[df['Domisili'] == 'Jakarta']\
        [['Nama', 'Pekerjaan']]

    Nama       Pekerjaan
0   Andi    Data Analyst
2   Caca  Data Scientist
4  Erika    Data Analyst
8   Irja      BI Analyst

**13. Apa saja hobi para wanita yang ada di data? Tampilkan hanya kolom Nama, Hobi, Umur secara berurutan!**

In [ ]:
# Insert your code here
df[df['Gender'] == 'Wanita']
    [['Nama', 'Hobi', 'Umur']]

    Nama       Hobi  Umur
2   Caca       Baca    30
4  Erika      Masak    28
6   Gina     Basket    29
7   Hani  Traveling    31

**14. Siapa saja yang berumur lebih tua dari Erika? Tampilkan kolom nama saja dalam bentuk DataFrame!**

In [ ]:
# Insert your code here

# Cara 1
# Ketika kita sudah tahu 
    # duluan umur Erika
df[df['Umur'] > 28][['Nama']]

# Cara 2
# Ketika kita belum mengetahui umur Erika
umur_erika = df[df['Nama'] == 'Erika']\
                    ['Umur'].values[0]

umur_erika

df[df['Umur'] > umur_erika][['Nama']]

    Nama
2   Caca
3   Dedi
6   Gina
7   Hani
8   Irja
9  Jarot

**15. Berdasarkan data, apakah ada wanita yang hobinya traveling?**

In [ ]:
# Insert your code here
df[(df['Gender'] == 'Wanita') & 
    (df['Hobi'] == 'Traveling')]

   Nama  Gender  Umur    Domisili      Pekerjaan       Hobi
7  Hani  Wanita    31  Yogyakarta  ML Researcher  Traveling